.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* LOGIN PAGE STYLING */

.form-container {
  width: 80%;
  margin: 0 auto;
}

.form-input {
  height: 30px;
  width: 250px;
  border: 1px solid lightgray;
  padding-left: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.form-btn {
  height: 34px;
  padding: 0 10px 0 10px;
  background-color: lightgray;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
}

.form-btn:hover {
  background-color: grey;
}

/* ALL SKILLS STYLING */

.skills-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.user-skills-container {
  display: grid;
  grid-template-columns: 1fr;
  border-left: 2px solid gray;

}

.skill-card {
  border: 1 dotted lightgray;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 10px 20px;
  margin-bottom: 10px;
  width: 25vw;
  height: 260px;
  margin: 0 auto;

}

.skill-item-btn {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 3px;
  width: 200px;
  height: 30px;
  cursor: pointer;
  margin-top: 20px;
}

.skill-item-btn:hover {
  background-color: lightgray;
}
.skills-page-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
@media only screen and (max-width: 1600px) {
   .skill-card{
      height: 350px;
   }
 }
 @media only screen and (max-width: 1000px) {
  .skill-card{
     height: 400px;

  }
  .skills-container {
    display: grid;
    grid-template-columns: 1fr;
  
  }
}
